* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.options-cont {
  position: absolute;
  top: 2rem;
  left: 2rem;
  background-color: #dfe6e9;
  height: 4rem;
  width: 3.5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.tools-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  width: 55vw;
  background-color: #dfe6e9;
  position: absolute;
  top: 2rem;
  left: 20vw;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.tools-cont > * {
  width: 4rem;
  display: block;
}
.pencil-tool-cont {
  display: none;
  top: 7rem;
  left: 20vw;
  width: 7rem;
  height: 5rem;
  position: absolute;
  background-color: #dfe6e9;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 3px;
}
.pencil-width-cont {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pencil-color-cont {
  height: calc(100% - 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.pencil-color {
  width: 1.5rem;
  height: 2rem;
  border-radius: 50%;
}
.pencil-width-cont input {
  width: 80%;
}
.black {
  background-color: black;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.eraser-tool-cont {
  background-color: #dfe6e9;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  position: absolute;
  top: 7rem;
  left: 28vw;
  width: 7rem;
  height: 2rem;
  display: none;
  align-items: center;
  justify-content: center;
}
.eraser-tool-cont input {
  width: 80%;
}
.scale-tools {
  animation-name: scale-tools;
  animation-duration: 0.8s;
}
@keyframes scale-tools {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
.sticky-cont {
  height: 15rem;
  width: 15rem;
  background-color: #dfe6e9;
  position: absolute;
  top: 15rem;
  left: 20rem;
}
.header-cont {
  height: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-cont > * {
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.remove {
  background-color: rgb(239, 140, 140);
}
.minimize {
  background-color: rgb(90, 211, 90);
}
.note-cont {
  height: calc(100% - 2rem);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
textarea {
  width: 100%;
  height: 100%;
  outline: none;
  resize: none;
  border: none;
}
img {
  height: 100%;
  width: 100%;
}
.help-icon {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}
.hide {
  display: none;
}
/* .camera:hover + .hide {
  display: block;
  color: black;
  position: absolute;
  left: 4rem;
  width: 12rem;
  bottom: 0.5rem;
} */
.img_url {
  display: block;
}
.input_img_url {
  display: flex;
  margin-top: 0.2rem;
  gap: 1rem;
  padding: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
